{% load scrumapp %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>
		{% block title %}

		{% endblock %}
	</title>

	<style>
		body {
			min-height: 100vh;
		}
		#openNavBtn {
			visibility: visible;
			position: absolute;
			right: -40px;
			width: 40px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	</style>

	{% block head %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
		integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% endblock %}
</head>

<body class="d-flex flex-nowrap">


	<nav class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" style="width: 15em;">
		
		<button id="openNavBtn" class="btn btn-secondary d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive" aria-label="Open navigation bar">
			<i class="fa-solid fa-bars"></i>
		</button>

		<!-- HEADER -->
		<a href="/" class="nav-link border-bottom py-2">
			<h3>Scrumapp</h3>
		</a>

		<!-- MAIN NAV-->
		<div class="container my-3">
			{% if active_trackedtime %}
			<div class="row border-bottom pb-3">
				<strong>Tracking time:</strong> <time id="time-tracker" data-from="{{active_trackedtime.started|date:"c"}}">00:00:00</time><br>
				<a href="{{active_trackedtime.task.story.get_absolute_url}}" class="text-reset">{{ active_trackedtime.task|truncatechars:15 }}</a>
			</div>
			<script>
				const $timeTracker = document.getElementById('time-tracker');
				const started = new Date($timeTracker.dataset.from);
				function updateTime() {
					const now = new Date();
					const diff = now - started;
					const hours = Math.floor(diff / 1000 / 60 / 60);
					const minutes = Math.floor(diff / 1000 / 60) % 60;
					const seconds = Math.floor(diff / 1000) % 60;
					$timeTracker.innerText = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`
				}
				updateTime();
				setInterval(updateTime, 1000);
			</script>
			{% endif %}
			{% for listed_project in projects %}
			<div class="row">
				<a href="{% url 'project_detail' project_id=listed_project.id %}"
					class="btn btn-outline-light my-2 {%if listed_project.id == project.id %}active {%endif%}">
					{{listed_project.name}}
				</a>
			</div>
			{% endfor %}
		</div>

		<!-- USER DROPDOWN -->
		{% if request.user.is_authenticated %}
		<div class="dropdown mt-auto border-top pt-3">
			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
				data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://github.com/{{ user.username }}.png" alt="" width="32" height="32"
					class="rounded-circle me-2">
				<strong>{{ user.username }}</strong>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
				<li>
					<a class="dropdown-item" href="{% url 'update_profile' %}">Profile</a>
				</li>
				<li>
					<hr class="dropdown-divider">
				</li>
				{% if request.user.is_superuser %}
				<li>
					<a href="/admin" class="dropdown-item text-info">
						Admin panel
					</a>
				</li>
				{% endif %}
				<li>
					<hr class="dropdown-divider">
				</li>
				<li>
					<form method="post" action="{% url 'logout' %}">
						{% csrf_token %}
						<button class="dropdown-item text-danger" type="submit">Log Out</button>
					</form>
				</li>
			</ul>
		</div>
		{% endif %}
	</nav>
	<main class="container-fluid p-4">

		{% block messages %}
		{% if messages %}
		<div class="container">
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endblock %}
		
		{% block main %}

		{% endblock %}
	</main>
</body>

</html>