{% extends "scrumapp/base.html" %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mt-4 mb-4">Change Your Password</h2>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ field.label }}: {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_old_password">Old Password</label>
                    <input type="password" name="old_password" id="id_old_password" class="form-control" placeholder="Old Password" required>
                </div><br>
                <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="New Password" required>
                </div><br>
                <div class="form-group">
                    <label for="id_new_password2">Confirm New Password</label>
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirm New Password" required>
                </div>
                <br><button type="submit" class="btn btn-primary btn-block">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
