{% extends "scrumapp/base.html" %}
{% load scrumapp %} 

{% block main %}
  <form method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ object.title }}"?</p>
      <input type="submit" value="Confirm">
  </form>
{% endblock %}