{% extends "scrumapp/base.html" %}
{% load scrumapp %} 
{% block title %}Project wall{% endblock title %}

{% block main %}
<section>
    <header class="row mb-3">
        <a href="{{ project.get_absolute_url }}" class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col font-weight-bold text-center">Project wall</h2>
        <a href="{% url 'post_create' project_id=project.id %}" class="col-1 btn btn-success btn-sm my-2">
            <i class="fa-solid fa-plus"></i> New post
        </a>
    </header>
    <main>
    {% for post in posts %}
    <article class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <i class="fa-solid fa-user"></i> {{ post.user }}
                <i class="fa-solid fa-clock"></i> {{ post.time_posted|date:"M d, Y H:i" }}
            </h6>
            <p class="card-text">{{ post.description|newline_br }}</p>

            <div class="comments-section mb-2">
                {% for comment in post.comments.all %}
                <div class="comment mb-1">
                    <strong>{{ comment.user.username }}</strong> ({{ comment.time_posted|date:"M d, Y H:i" }}): {{ comment.content }}
                    {% if user_role == 'SM' %}
                    <a href="{% url 'comment_delete' project_id=post.project.id pk=comment.id %}" class="btn btn-danger btn-sm">Delete</a>  <!-- Link to delete comment -->
                    {% endif %}
                </div>
                {% empty %}
                <p class="text-muted">No comments yet.</p>
                {% endfor %}
            </div>

            <form action="{% url 'create_comment' project_id=post.project.id post_id=post.id %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <textarea name="content" class="form-control" placeholder="Write a comment..." rows="1"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Post</button>
                    </div>
                </div>
            </form>
            {% if user_role == 'SM' %}
            <a href="{% url 'post_delete' project_id=post.project.id pk=post.id %}" class="btn btn-danger btn-sm mt-2">Delete Post</a>  <!-- Link to delete post -->
            {% endif %}
        </div>
    </article>
    {% empty %}
    <span class="text-muted">The wall is empty</span>
    {% endfor %}
    </main>
</section>
{% endblock main %}
