{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% block main %}

<div class="container">
    <div class="row">
        <!-- TODO navigate back to post -->
        <a href="{{project.get_absolute_url}}" class="btn btn-outline-dark btn-sm py-1 my-2 col-1">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col text-center">{{form.is_bound|yesno:"Edit,Create"}} post</h2>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{project.get_absolute_url}}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
