{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}

{% block head %}
{{ block.super }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
{% endblock %}

{% block main %}

<h2>Edit project</h2>

<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-5">Save</button>
    <a href="{{ project.get_absolute_url }}" class="btn btn-danger mt-5">Cancel</a>
</form>

<script>
    new Choices('#id_developers', {
        removeItemButton: true,
    });
</script>
{% endblock %}
