{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% load scrumapp %}

{% block title %}Project: {{ project.name }}{% endblock %}

{% block main %}

<section>
    <div class="row">
        <a href="{% url 'project_list' %}" class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col text-center">Project: {{ project.name }}</h2>
    </div>
    <div class="row">
        <div class="col">
            {{ project.description|newline_br }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <strong><i class="fa-solid fa-user-ninja"></i> Scrum master:</strong> {{ project.scrum_master }}
            <br/>
            <strong><i class="fa-solid fa-user-tie"></i> Product owner:</strong> {{project.product_owner }}
            <br/>
            <strong><i class="fa-solid fa-users"></i> Developers:</strong> {% for member in project.developers %}{{member}}{% if not forloop.last %}, {% endif %}{% endfor %}
        </div>
        <div class="col-5">
            <canvas id="burndownChart" width="400" height="200"></canvas>
        </div>
    </div>
    <div class="row mt-2">
        <a href="{% url 'post_list' project_id=project.id %}" class="btn btn-primary btn-sm col-2 mx-1">
            <i class="fa-solid fa-comment"></i>
            Project wall
        </a>
        <a href="{% url 'project_edit' project_id=project.id %}" class="btn btn-warning btn-sm col-2 mx-1">
            <i class="fa-solid fa-edit"></i>
            Edit
        </a>
        {% if request.user.is_superuser %}
        <a target="_blank" href="/admin/scrumapp/project/{{project.id}}/change/" class="btn btn-danger btn-sm col-2 mx-1">
            <i class="fa-solid fa-cog"></i>
            Admin
        </a>
        {% endif %}
    </div>
</section>

<section class="row p-3 my-2">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var ctx = document.getElementById('burndownChart').getContext('2d');
            var ideal_burn_down = JSON.parse("{{ ideal_burn_down }}");
            var actual_burn_down = JSON.parse("{{ actual_burn_down }}");
            var labels = ideal_burn_down.map((_, i) => i + 1);
            var burndownChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Ideal burndown',
                        // Load data from django project view ideal_burn_down
                        data: ideal_burn_down,
                        borderColor: 'rgba(0, 0, 0, 0.5)',
                        fill: false
                    }, {
                        label: 'Actual burndown',
                        data: actual_burn_down,
                        borderColor: 'rgba(0, 0, 255, 0.5)',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</section>
<section class="row p-3 my-2">
    <a href="{% url 'sprint_create' project.id %}?next={{request.url}}" class="btn col-1 btn-success btn-sm my-2 mx-2 ms-auto">
        <i class="fa fa-plus"></i> Sprint
    </a>
    <a href="{% url 'story_create' project.id %}?next={{request.url}}" class="btn col-1 btn-primary btn-sm my-2 mx-2">
        <i class="fa fa-plus"></i> Story
    </a>
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-active-tab" data-bs-toggle="tab" data-bs-target="#nav-active"
                type="button" role="tab" aria-controls="nav-active" aria-selected="true">Active sprints</button>
            <button class="nav-link" id="nav-future-tab" data-bs-toggle="tab" data-bs-target="#nav-future" type="button"
                role="tab" aria-controls="nav-future" aria-selected="false">Future sprints</button>
            <button class="nav-link" id="nav-past-tab" data-bs-toggle="tab" data-bs-target="#nav-past" type="button"
                role="tab" aria-controls="nav-past" aria-selected="false">Past sprints</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
            {% include "scrumapp/partial/sprint_list.html" with sprints=active %}
        </div>
        <div class="tab-pane fade" id="nav-future" role="tabpanel" aria-labelledby="nav-future-tab">
            {% include "scrumapp/partial/sprint_list.html" with sprints=future %}
        </div>
        <div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">
            {% include "scrumapp/partial/sprint_list.html" with sprints=past %}
        </div>
    </div>

</section>


<section class="row p-3 my-2">
    <h3>Product backlog</h3>
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tabs2" role="tablist">
            <button class="nav-link active" id="tabs2-1-nav" data-bs-toggle="tab" data-bs-target="#tabs2-1" type="button" role="tab" aria-controls="tabs2-1" aria-selected="true">Open</button>
            <button class="nav-link" id="tabs2-2-nav" data-bs-toggle="tab" data-bs-target="#tabs2-2" type="button" role="tab" aria-controls="tabs2-2" aria-selected="false">In sprint</button>
            <button class="nav-link" id="tabs2-3-nav" data-bs-toggle="tab" data-bs-target="#tabs2-3" type="button" role="tab" aria-controls="tabs2-3" aria-selected="false">Accepted</button>
            <button class="nav-link" id="tabs2-4-nav" data-bs-toggle="tab" data-bs-target="#tabs2-4" type="button" role="tab" aria-controls="tabs2-4" aria-selected="false">Future</button>
        </div>
    </nav>
    <div class="tab-content" id="tabs2">

        <!-- Open -->
        <div class="tab-pane fade show active" id="tabs2-1" role="tabpanel" aria-labelledby="tabs2-2-nav">
            {% if stories_has_estimate %}
                {% if active %}
                <form method="POST" action="{% url 'add_stories_to_sprint' project_id=project.id %}">
                    <div class="f-end">
                        {% csrf_token %}
                        {{ add_to_sprint_form.sprint }}
                        <button type="submit" class="btn btn-primary btn-sm">Add selected to active sprint</button>
                    </div>
                    {% include "scrumapp/partial/story_list.html" with stories=stories_has_estimate checkbox=True show_time_estimate=True %}
                </form>
                {% else %}
                {% include "scrumapp/partial/story_list.html" with stories=stories_has_estimate show_time_estimate=True %}
                {% endif %}
            {% endif %}

            {% if stories_needs_estimate %}
            <h4 class="mt-3">Time estimate needed</h4>
            {% include "scrumapp/partial/story_list.html" with stories=stories_needs_estimate checkbox=False %}
            {% endif %}

        </div>

        <!-- In sprint -->
        <div class="tab-pane fade" id="tabs2-2" role="tabpanel" aria-labelledby="tabs2-3-nav">
            {% include "scrumapp/partial/story_list.html" with stories=stories_in_sprint %}
        </div>

        <!-- Accepted -->
        <div class="tab-pane fade" id="tabs2-3" role="tabpanel" aria-labelledb&y="tabs2-4-nav">
            {% include "scrumapp/partial/story_list.html" with stories=stories_accepted %}
        </div>

        <!-- Future -->
        <div class="tab-pane fade" id="tabs2-4" role="tabpanel" aria-labelledby="tabs2-5-nav">
            {% include "scrumapp/partial/story_list.html" with stories=stories_future %}
        </div>

    </div>

</section>

{% endblock %}
