{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% block main %}

<h2>{{form.instance.id|yesno:"Edit,Create"}} sprint</h2>

<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% if form.instance.id %}{{ sprint.get_absolute_url }}{% else %}{{ project.get_absolute_url }}{% endif %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}