{% extends "scrumapp/base.html" %}
{% load scrumapp %}

{% block title %}Sprint: {{ sprint.name }}{% endblock %}
{% block main %}

<section>    
    <div class="row">
        <a href="{{ project.get_absolute_url }}"  class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col font-weight-bold text-center">Sprint: {{ sprint.name }}</h2>
    </div>
    <div class="col">
        <strong>Date: </strong> {{ sprint.start_date }} - {{ sprint.end_date }}
        {% if is_active %}
        <strong>(Active)</strong>
        {% endif %}
    </div>
    <div class="col">
        <strong>Velocity:</strong> {{ sprint.velocity|default_if_none:"?" }}
    </div>
    <p class="my-2 py-1 col">{{ sprint.description|newline_br }}</p>

    {% if not is_active %}
        <a href="{% url 'sprint_edit' project_id=sprint.project.id pk=sprint.id %}" class="btn btn-warning btn-sm col-1">
            <i class="fa-solid fa-edit"></i>
            Edit
        </a> 
    {% endif %}
    {% if sprint.is_future %}
    <a href="{% url 'sprint_delete' project_id=sprint.project.id pk=sprint.id %}" class="btn btn-danger btn-sm col-1">
        <i class="fa-solid fa-trash"></i>
        Delete
    </a> 
    {% endif %}
    {% if request.user.is_superuser %}
        <a target="_blank" href="/admin/scrumapp/sprint/{{sprint.id}}/change/" class="btn btn-danger btn-sm col-1">
            <i class="fa-solid fa-cog"></i>
            Admin
        </a>
    {% endif %}
    
    <h4 class="my-2 col text-center">{% if is_active %}Sprint backlog{% else %}Stories{% endif %}</h4>
    {% include 'scrumapp/partial/story_list.html' with stories=sprint.story_set.all remove=True show_tasks=True show_accept=True %}


</section>


{% endblock %}
