{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}

{% block main %}

<h2>Delete sprint {{ object }}</h2>


<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete sprint "{{ object }}"?</p>
    {{ form }}
    <button type="submit" class="btn btn-danger btn-sm col-1">
        <i class="fa-solid fa-trash"></i>
        Delete
    </button>
</form>

{% endblock %}
