{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% load scrumapp %}
{% block title %}Story: {{ story.title }}{% endblock %}

{% block main %}

<section class="row">
    <a href="{{ project.get_absolute_url }}"  class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h2 class="col-11 text-center">Story: {{ story.title }} <span class="text-muted">[{{ story.get_priority_display }}]</span></h2>
    <div class="col-6"><b>Sprint:</b> {{ story.sprint.name }}</div>
    <div class="col-6"><b>Business value:</b> {{ story.business_value }}</div>
    <div class="col-6"><b>Status:</b> {{ story.get_status_display }}</div>
    <div class="col-6"><b>Estimated time:</b> {{ story.time_estimate | default:""}} {%if story.time_estimate %}pts{%endif%}</div>
    <div class="col-6"><b>Task total:</b> {{ task_total_hours }} h</div>
    <div class="col-6"><b>Work done:</b> {{ work_total_hours }} h</div>

    <div class="col-12 my-3">{{ story.description|newline_br }}</div>

    <a href="{% url 'story_edit' project_id=story.project.id pk=story.id %}" class="btn btn-warning btn-sm col-1 mx-1">
        <i class="fa-solid fa-edit"></i>
        Edit
    </a>
    {% if story.sprint is none %}
    <a href="{% url 'story_delete' project_id=story.project.id pk=story.id %}" class="btn btn-danger btn-sm col-1 mx-1">
        <i class="fa-solid fa-trash"></i>
        Delete
    </a>
    {% endif %}
    {% if request.user.is_superuser %}<a target="_blank" href="/admin/scrumapp/story/{{story.id}}/change/" class=" col-1 btn btn-danger btn-sm mx-1">
        <i class="fa-solid fa-cog"></i>
        Admin
    </a>{% endif %}
    <a href="{% url 'tracked_time' project_id=story.project.id pk=story.id %}" class="btn btn-info btn-sm col-1 mx-1">
        <i class="fa-solid fa-clock"></i>
        Time log
    </a>
</section>

<section class="container mt-4">
    <div class="row w-50" style="max-height: 13em; overflow: scroll;">
        {% for note in story.notes.all %}
            <div class="card col-12 mt-1">
                <div class="card-body p-2">
                    <small>
                        <i class="fa fa-user"></i>
                        {{ note.user }} 
                        <span class="ms-2 text-muted">{{ note.time_posted }}</span>
                    </small>
                    <br/>
                    <small>
                        {{ note.content }}
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row w-50 mt-2">
        <div class="col-12 p-0">
            <form action="{% url 'story_note' project_id=story.project.id story_id=story.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="content" autocomplete="false" class="form-control" placeholder="Add a note">
            </form>
        </div>
    </div>
</section>

<section class="row mt-4">
    <div class="d-flex">
        <h5>Tasks</h5>
        <a href="{% url 'task_create' project_id=story.project.id story_id=story.id %}" class="btn col-1 btn-success btn-sm my-0 mx-2 ms-auto">
            <i class="fa fa-plus"></i> Task
        </a>
    </div>
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-active-tab" data-bs-toggle="tab" data-bs-target="#nav-active"
                type="button" role="tab" aria-controls="nav-active" aria-selected="true">In progress</button>
            <button class="nav-link" id="nav-claimed-tab" data-bs-toggle="tab" data-bs-target="#nav-claimed" type="button"
                role="tab" aria-controls="nav-claimed" aria-selected="false">Claimed</button>
            <button class="nav-link" id="nav-unclaimed-tab" data-bs-toggle="tab" data-bs-target="#nav-unclaimed" type="button"
                role="tab" aria-controls="nav-unclaimed" aria-selected="false">Unclaimed</button>
            <button class="nav-link" id="nav-finished-tab" data-bs-toggle="tab" data-bs-target="#nav-finished" type="button"
                role="tab" aria-controls="nav-finished" aria-selected="false">Finished</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="max-height: 18em; overflow-y: scroll;">
        <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
            {% include "scrumapp/partial/task_list.html" with tasks=tasks_active %}
        </div>
        <div class="tab-pane fade" id="nav-claimed" role="tabpanel" aria-labelledby="nav-claimed-tab">
            {% include "scrumapp/partial/task_list.html" with tasks=tasks_assigned %}
        </div>
        <div class="tab-pane fade" id="nav-unclaimed" role="tabpanel" aria-labelledby="nav-unclaimed-tab">
            {% include "scrumapp/partial/task_list.html" with tasks=tasks_unassigned %}
        </div>  
        <div class="tab-pane fade" id="nav-finished" role="tabpanel" aria-labelledby="nav-finished-tab">
            {% include "scrumapp/partial/task_list.html" with tasks=tasks_finished %}
        </div>
    </div>

</section>
{% endblock %}
