{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% block main %}

<!-- Create a form title based on whether a form is in create or edit mode -->


<h2>{{form.instance.id|yesno:"Edit,Create"}} story</h2>

<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% if form.instance.id %}{{ story.get_absolute_url }}{% else %}{{ project.get_absolute_url }}{% endif %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}
