{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% block main %}

<div class="container">
    <div class="row">
        <a href="{{ story.get_absolute_url }}"  class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col text-center">{{form.instance.id|yesno:"Edit,Create"}} Task</h2>
    </div>
    <div class="row mt-4">
        <form method="POST" action="" class="col">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ story.get_absolute_url }}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
    
</div>
{% endblock %}