{% extends "scrumapp/base.html" %}

{% block main %}
<section>    
    <header class="row mb-3">
        <a href="{{ project.get_absolute_url }}" class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col font-weight-bold text-center">Logged times</h2>

    </header>
    <main>

    <table class="table">
        <thead>
            <tr>
                <th><i class="fa-solid fa-square-check"></i> Task</th>
                <th><i class="fa-solid fa-user"></i> User</th>
                <th><i class="fa-solid fa-calendar"></i> Date</th>
                <th><i class="fa-solid fa-clock"></i> Hours</th>
            </tr>
        </thead>
        <tbody>
            {% for tracking_time in list_time %}
            <tr>
                <td>{{ tracking_time.task }}</td>  
                <td>{{ tracking_time.user }}</td>    
                <td>{{ tracking_time.date }}</td>
                <td>{{ tracking_time.hours | default:0 }} hours</td>
            </tr>
            {% empty %}
            <span class="text-muted">No time tracked yet</span>
            {% endfor %}
        </tbody>
    </table>
    </main>
</section>

{% endblock main %}
