{% extends "scrumapp/base.html" %}

{% block main %}
<h2 class="text-center mt-4 mb-4">Profile Page</h2>

<div class="login-container">
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary btn-block">Update Profile Information</button>
    </form>
    <div class="mt-3 text-center">
        <a href="{% url 'passwordchange' %}" class="btn btn-secondary">Change Password</a>
    </div>
</div>
{% endblock %}
