<div class="row gx-2">
    {% for sprint in sprints %}
    <div class="col-sm-6 col-xs-12">
        <div class="card mb-2 my-2" style="min-height: 8em;">
            <a href="{{ sprint.get_absolute_url }}" class="card-block text-decoration-none text-reset">
                <div class="card-body">
                    <h5 class="card-title">{{ sprint.name }}</h5>
                    <small class="text-muted">
                        <i class="fas fa-calendar-day"></i>
                        {{sprint.start_date}} &mdash; {{sprint.end_date}}
                    </small>
                    <p class="card-text">{{ sprint.description|truncatewords:20 }}</p>
                </div>
            </a>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <span class="col text-muted my-2 text-center">No sprints here</span>
    </div>
    {% endfor %}
</div>