<div class="row gx-2">
    {% for story in stories %}
    {% if not story.soft_deleted %}
    <div class="col-sm-5 col-xs-12" data-story-id="{{story.id}}">
        <div class="card my-2" style="min-height: 8em;" >
            <a href="{{ story.get_absolute_url }}" class="card-block text-decoration-none text-reset">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h5 class="card-title">{{ story.title }} <span class="text-muted">[{{story.get_priority_display}}]</span></h5>
                        </div>
                        {% if checkbox %}
                        <div class="col-auto">
                            <input type="checkbox" class="form-check-input" name="stories" value="{{story.id}}">
                        </div>
                        {% endif %}
                    </div>

                    {% if show_tasks %}
                    <small class="mb-2 d-block">
                        {% for task in story.tasks.all %}
                            {% if not task.soft_deleted %}
                            <div>
                                {% if task.status == task.Status.FINISHED %}
                                <i class="fa-regular fa-check-square me-1"></i>
                                {% else %}
                                <i class="fa-regular fa-square me-1"></i>
                                {% endif %}
                                [{{ task.get_status_display }}] {{ task.title | truncatechars:30 }}
                            </div>
                            {% endif %}
                        {% empty %}
                            <div class="col text-muted">No tasks</div>
                        {% endfor %}
                    </small>
                    {% endif %}

                    <small class="card-text text-muted d-block">
                        <i class="fas fa-dollar"></i>
                        <strong>Business value:</strong> {{ story.business_value }} pts
                        {% if show_time_estimate and story.time_estimate %}
						<i class="fas fa-clock ms-1"></i>
                    	<strong>Time est.:</strong> {{ story.time_estimate }} pts
                        {% endif %}
                        {% if story.is_accepted %}
                        <i class="fas fa-check-circle ms-1 text-success"></i> Accepted
						{% endif %}
                        {% if story.is_recjected %}
                        <i class="fas fa-circle-xmark ms-1 text-danger"></i> Rejected
						{% endif %}
                    </small>

                    {% if show_accept and  project.product_owner == request.user and story.is_finished and not story.is_accepted and story.sprint %}
                    <a href="{% url 'story_status' project_id=story.project.id pk=story.id %}" class="btn btn-success btn-sm col-3 my-1">
                       Accept / Reject
                    </a>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <div class="row">
        <span class="col text-muted my-2 text-center">No stories here</span>
    </div>
    {% endfor %}
</div>
