{% load scrumapp %}
<div class="row gx-2">
    {% for task in tasks %}

    <div class="card mb-2 my-2" style="min-height: 8em;">
        <div class="card-block text-decoration-none text-reset">
            <div class="card-body">
                <div class="d-flex justify-content-between">

                    <h5 class="card-title">{{ task.title }}</h5>

                    <div class="d-flex">
                        {% if task.status == task.Status.UNCLAIMED %}
                        <form method="POST" action="{% url 'task_claim' project_id=project.id story_id=task.story.id pk=task.id %}" class="me-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-success">Claim</button>
                        </form>
                        {% else %}
                            {% if task.status != task.Status.FINISHED and not active_trackedtime %}
                            <form method="POST" action="{% url 'task_start' project_id=project.id story_id=task.story.id pk=task.id %}" class="me-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-info">Start Tracking</button>
                            </form>
                                {% if task.status == task.Status.CLAIMED and task.story.sprint is not none %}
                                <form method="POST" action="{% url 'task_unclaim' project_id=project.id story_id=task.story.id pk=task.id %}" class="me-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-danger">Unclaim</button>
                                </form>
                                <form method="POST" action="{% url 'task_finish' project_id=project.id story_id=task.story.id pk=task.id %}" class="me-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-success">Finish</button>
                                </form>
                                {% endif %}
                            {% elif active_trackedtime.task == task %}
                            <form method="POST" action="{% url 'task_stop' project_id=project.id story_id=task.story.id pk=task.id %}" class="me-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Stop Tracking</button>
                            </form>
                            {% endif %}
                        {% endif %} 
                        <a class="me-2 btn btn-sm btn-warning" href="{% url 'task_edit' project_id=project.id story_id=task.story.id pk=task.id %}" title="Edit"><i class="fas fa-edit"></i> Edit</a>

                        {% if task.status == task.Status.UNCLAIMED %}
                        <form method="POST" action="{% url 'task_delete' project_id=project.id story_id=task.story.id pk=task.id %}" class="me-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                                Delete
                            </button>
                        </form>
                        {% endif %}
                    </div>

                </div>
                <small>
                    {{task.description|newline_br}}
                </small>
                <small class="card-text">
                    <i class="fas fa-clock"></i>
                    <strong>Time est:</strong> {{ task.hours }} h
                    {% if task.assigned_to %}
                    <i class="fas fa-user ms-2"></i>
                    <strong>Assigned to:</strong> {{ task.assigned_to }}
                    {% endif %}
                </small>  
            </div>
        </div>
    </div>
    
    {% empty %}
    <div class="row">
        <span class="col text-muted my-2 text-center">No tasks here</span>
    </div>
    {% endfor %}
</div>
