{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% block main %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
{% endblock main %}